body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url('/home/barrack/Job-project/job-seeker/public/images/images4.avif');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);

}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inputf {
  width: 60%;

  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}


.job-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-card {
  background-color: rgba(8, 0, 0, 0.7);
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  color: #fff;
}

.job-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.job-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.job-card button:hover {
  background-color: #0056b3;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background: #0056b3;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.logs {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  color: #ff0000;
  height: 200px;
  text-align: left;
}

.log-messages {
  max-height: 200px;
  overflow-y: auto;
}

.log-messages p {
  font-size: 14px;
  margin: 5px 0;
}

.error {
  color: red;
  margin-top: 20px;
}

/* Modal styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 1000;
  /* Ensure the modal appears above other content */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #666;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Ensure padding and border don't affect the width */
  font-size: 16px;
}

textarea {
  height: 100px;
  /* Adjust as needed */
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* File input styles */
input[type="file"] {
  cursor: pointer;
}

/* Hide file input button text */
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]::before:hover {
  background-color: #0056b3;
}